@font-face {
    // created by Dieter Steffmann 
    // downloaded from fontspace.com
    font-family: "DevinneSwash";
    src: url("fonts/DevinneSwash.ttf");
  }
  
  @font-face {
    font-family: "AsapSemiBold";
    src: url("fonts/Asap-SemiBold.ttf");
  }