@import "./fonts";
@import "./variables";
* {
  scrollbar-color: #2a2c2e #1c1e1f;
  ::-webkit-scrollbar {
    background: #2a2c2e #1c1e1f;
  }
  ::-webkit-scrollbar-corner {
    background: #2a2c2e #1c1e1f;
  }
}
.champion > * {
  pointer-events: none;
}

body {
  font-family: "AsapSemiBold";
  background: $gradBack;
  background-color: $gradBack;
  overflow-x: hidden;
  // overflow-y: hidden;
  display: grid;
}

.button {
  font-family: "AsapSemiBold";
  width: 50%;
  position: relative;
  border-radius: initial;

  background: $btnColor;
  border: none;
  color: $textColor;
  height: 2.3em;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;
  box-shadow: inset 0 -5px 0 #2c8cbd, -5px 5px rgba(0, 0, 0, 0.2);
  transition: color 0.1s ease-in-out;
  transition-duration: 0.15s;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.unselected {
  background-color: rgb(0, 30, 41);
  box-shadow: rgb(0, 22, 30) 0px 4px 0px 0px inset;
}
.join-btn {
  width: 3em;
  height: 1.6em;
  letter-spacing: normal;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 5px;
  margin-right: 5px;
}
.lobby-side-bar {
  color: $textColor;
  margin-left: auto;
  margin-right: auto;
  .side-bar-profile {
    padding: 10px;
    border-radius: 10px;
    background: $gradElems;
  }
}
.lobby {
  .lobby-center {
    width: 800px;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 5%;

    .lobby-actionbar {
      padding: 30px;
      background: $gradElems;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      letter-spacing: 1.5px;

      button {
        height: 2.3em;
        width: 20%;
        border-radius: 5px;
        font-size: 1.3em;
        font-weight: bold;
      }
    }

    .room-list {
      color: $textColor;
      border-top: 0.1px solid white;

      .room-list-header {
        border-radius: 8px;
        .room-list-header-element {
          display: flex;
          margin-top: 5px;
          border-radius: 5px;
          // border-top: 0.1px solid rgba(255, 255, 255, .2);

          background-color: $gradElems;
          .column {
            flex-wrap: nowrap;
            transform: translateY(15%);
            margin-top: 3px;
            padding-top: 1.2em;
            padding-bottom: 1.2em;
          }

          .column-private {
            flex: 0.3;
            padding-left: 1em;
          }

          .column-name {
            padding-left: 2em;
            flex: 2;
          }

          .column-player-count {
            text-align: center;
            padding-right: 2em;
            flex: 0.6;
          }
        }
      }

      .room-list-element {
        display: flex;
        margin-top: 5px;
        border-radius: 5px;
        // border-top: 0.1px solid rgba(255, 255, 255, .2);

        background-color: $gradElems;
        .column {
          flex-wrap: nowrap;
          transform: translateY(15%);
          margin-top: 3px;
          padding-top: 1.2em;
          padding-bottom: 1.2em;
        }

        .column-private {
          flex: 0.3;
          padding-left: 1em;
        }

        .column-name {
          padding-left: 2em;
          flex: 2;
        }

        .column-player-count {
          text-align: center;
          padding-right: 2em;
          flex: 0.6;
        }
      }

      // .room-list-body {

      // }
    }
  }
}

.lobby-room {
  display: none;
  height: 0;
  .lobby-center {
    padding: 0.7em;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-gap: 1em;
    grid-auto-rows: max(900px); //
    // height: 80%;
    // grid-template-rows: 2fr;
    overflow: hidden;

    .side-bar {
      border-radius: inherit;
      display: grid;
      grid-template-rows: 2fr 0.3fr 2fr;
      grid-gap: 3px;
      .player-list {
        border-radius: inherit;
        background: $gradElems;
        color: $textColor;
        border: $roomBorder;
        display: grid;
        grid-template-rows: 1.4fr repeat(5, 1fr);
        h2 {
          margin-left: 10px;
          margin-right: 10px;
          // margin-bottom: 0;
          text-align: center;
          border-bottom: 1px $textColor solid;
        }
      }
      .player-list > div:nth-child(even) {
        background-color: $gradElems2;
      }
      .player-list > div {
        display: grid;
        padding-left: 1em;
        grid-template-rows: repeat(5, 0.3fr);
        align-items: center;
        border-radius: inherit;
      }
      .player {
        padding-top: 10px;
        // margin-bottom: -10px;
      }
      .button {
        margin-top: 6px;
        margin-bottom: 6px;
        border-radius: inherit;
        width: 100%;
        &:hover {
          transform: $hoverScale;
        }
      }
      .button:disabled,
      .button[disabled] {
        margin-top: 6px;
        margin-bottom: 6px;
        border-radius: inherit;
        width: 100%;
        &:hover {
          transform: none;
        }
      }

      .clicked {
        color: black;
        background: $btnColorDarker;
        &:hover {
          transform: none;
        }
      }
      .chat-room {
        border-radius: inherit;
        .chat {
          border-top-left-radius: inherit;
          border-bottom-left-radius: inherit;
          border: $roomBorder;
          background: $gradElems;
          display: grid;
          grid-template-rows: 20fr 1.4fr;
          color: $textColor;
          font-size: 18px;

          #chat-content {
            padding-top: 10px;
            padding-left: 10px;
            overflow-y: scroll;
          }
          input {
            padding-left: 5px;
            border-bottom-left-radius: inherit;
            color: $textColor;
            font-size: 20px;
            background: $gradElems;
            border: none;
            border-top: $roomBorder;
          }
        }
      }
    }
    .champion-select {
      overflow-x: scroll;
      // overflow-y: hidden;
      position: relative;
      // border: 2px $textColor solid;
      padding: 5px;
      display: grid;
      grid-template-columns: repeat(5, 2fr);
      grid-column-gap: 1em;
      // grid-auto-rows: max(1000px);
      border-radius: inherit;
      font-family: "DevinneSwash";
      .champion {
        border-radius: inherit;
        color: $textColor;
        background: rgb(41, 35, 35);
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
          display: none;
        }

        h2 {
          // margin-top: -2px;
          img {
            margin-top: -20px;
            margin-left: auto;
            margin-right: auto;
            border-radius: inherit;
            display: block;
            min-width: 50%;
            border: 1px black solid;
          }
        }
        h2,
        div {
          text-align: center;
        }
      }
      .notSelected {
        border: 1px white solid;
        &:hover {
          transform: $hoverScale;
        }
      }
      .selectedChamp {
        border: 1px green solid;
        width: 99%;
        // transform: $hoverScaleDown;
        // &:hover {
        //   transform: none;
        // }
      }
      .someoneElseSelected {
        border: 1px black solid;
        width: 99%;
      }
    }
  }
}
.create-room-button {
  width: 96%;
  border-radius: 5px;
  background: rgb(180, 30, 155);

  box-shadow: inset 0 -8px 0 rgb(156, 22, 134), -5px 5px rgba(0, 0, 0, 0.2);
  // padding-left: 50px;
}
.blur {
  transition-delay: 0ms;
  filter: blur(3px);
}
.popup-overlay {
  display: none;

  .popup {
    color: $textColor;
    background-color: rgb(255, 255, 255);
    background-image: none;
  }

  .popup,
  .popup-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: black;
  }

  .popup {
    position: absolute;
    min-width: 20%;
    // top: 50%;
    // left: 50%;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    // transform: translate3d(-50%, -50%, 0);
    width: 100%;
    max-width: 100%;
    height: 100%;

    background: none;
    justify-content: center;
    padding-top: 75px;
    .popup-container {
      width: 500px;
      background: $gradElems;
      position: relative;
      border-radius: 5px;
      .popup-header {
        background: $gradElems2;
        position: relative;
        width: 97%;
        text-align: left;
        border-radius: 5px 5px 0 0;
        font-size: 30px;
        display: flex;
        align-items: center;
        padding: 5px 10px;
      }
      .popup-content {
        position: relative;
        padding: 30px;
        width: 100%;
        flex-grow: 1;
        .form {
          width: 92%;
          padding: 20px;
          font-size: 25px;
          letter-spacing: 1px;
          input {
            width: auto;
            flex-grow: 1;
            background-color: rgb(0, 30, 41);
            box-shadow: rgb(0, 22, 30) 0px 4px 0px 0px inset;
            border: 0;
            height: 50px;
            color: white;
            font-size: inherit;
            line-height: 1.5;
            padding: 5px;
            font-family: inherit;
          }

          .row {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            label {
              width: 150px;
              text-align: left;
              position: relative;
              flex-shrink: 0;
            }
            .toggle {
              display: flex;
              align-items: center;
              width: auto;
              flex-grow: 1;

              .button:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
              .button:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
              }
            }
          }
          .password-row {
            display: none;
          }
        }
      }
    }
    .cancel-area {
      height: 100%;
      width: 100%;
      position: absolute;
      .cancel-button {
        position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        // top: 100%;
        // margin-top: 10px;
        top: 73%;
        left: 47%;
        font-size: 20px;
        &:visited,
        &:link,
        &:hover {
          color: white;
        }
      }
    }
  }
  #toggle1,
  #toggle2 {
    height: 2.3em;
    font-size: 1em;
  }
}
p {
  padding-left: 10px;
  padding-right: 10px;
}
